.App {
  background-color: lightblue;
  height: auto;
  position: fixed;
  top:0%;
  height: 100%;
  width:100vw;
}

.sun {
  background-color: white;
}

.title {
  justify-self: center;
  width:fit-content;
  margin: auto;
}

/* 
===========================
MARKDOWN DIV
===========================
*/
.MarkDiv {
  width: 50%;
  height: 100%;
  background-color: white;
  border-right: 3px solid black;
  justify-content: center;
  align-items: center
}

/*
MARKDOWN TITLE
*/
.markTitle {
  width:100%;
  margin:auto;
  height: auto;
 border-bottom: 3px dotted grey;
 text-align: center;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: bold;
 text-shadow:  2px 2px #ff0000;
}

/*
EDITOR TEXT AREA
*/

.editor {
  width: 95%;
  height:100%;
  background-color:transparent;
  border: 0px;
  outline: none;
  font-size:16px;
  padding:10px;
  text-shadow: 1p;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifsdfas ;
}

/*
=============================
PREVIEW DIV
=============================
*/

.previewDiv {
  width: 10%;
  height: 99%;
  background-color: white;
  border-left: 3px solid black;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-left: 45%;
}

/*
Preview text area
*/
.previewer {
  width: 100%;
  height:100%;
  background-color:transparent;
  border: 0px;
  outline: none;
  font-size:16px;
}

/*
Preview title
*/
.previewTitle {
  width:100%;
  margin:auto;
  height: auto;
  border-bottom: 3px dotted grey;
  text-align: center; 
}